<footer class="footer-custom text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-section">
        <h5><i class="fa-solid fa-info-circle me-2"></i> Get to Know Us</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fa-solid fa-briefcase me-2"></i> Careers</a></li>
          <li><a href="#"><i class="fa-solid fa-pen-ruler me-2"></i> Blog</a></li>
          <li><a href="#"><i class="fa-solid fa-building me-2"></i> About ECOSTORE</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-section">
        <h5><i class="fa-solid fa-hand-holding-dollar me-2"></i> Make Money with Us</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fa-solid fa-store me-2"></i> Sell Products</a></li>
          <li><a href="#"><i class="fa-solid fa-link me-2"></i> Become an Affiliate</a></li>
          <li><a href="#"><i class="fa-solid fa-chart-line me-2"></i> Advertise Your Products</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-section">
        <h5><i class="fa-solid fa-credit-card me-2"></i> Payment Products</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fa-solid fa-business-time me-2"></i> Business Card</a></li>
          <li><a href="#"><i class="fa-solid fa-wallet me-2"></i> Reload Balance</a></li>
          <li><a href="#"><i class="fa-solid fa-exchange-alt me-2"></i> Currency Converter</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-section">
        <h5><i class="fa-solid fa-hands-helping me-2"></i> Let Us Help You</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fa-solid fa-user me-2"></i> Your Account</a></li>
          <li><a href="#"><i class="fa-solid fa-box-open me-2"></i> Returns & Replacements</a></li>
          <li><a href="#"><i class="fa-solid fa-life-ring me-2"></i> Help</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-4">
      <p>&copy; 2025 ECOSTORE, Inc. | <a href="#" class="text-decoration-none text-warning">Privacy</a> | <a href="#" class="text-decoration-none text-warning">Terms</a></p>
    </div>
  </div>
</footer>
